<div class="row title">
  <h5 class="mx-auto">避難所リスト作成</h5>
</div>
<%= form_with model: shelter, local: true do |f| %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">入力欄</th></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">名称</th>
      <td><%= f.text_field :shelter_name, class: "form-control" %></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">住所</th>
      <td><%= f.text_field :address, class: "form-control" %></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">メモ</th>
      <td><%= f.text_area :shelter_memo, class: "form-control" %></td>
      <td><%= f.submit "送信", class: "btn btn-outline-secondary" %></td>
    </tr>
  </tbody>
</table>
<% end %>

