<h4>避難所作成</h4>
<div class="row">
  <table>
    <%= form_with model: shelter, local: true do |f| %>
    <thead>
      <tr>
        <th>名称</th>
        <th>住所</th>
        <th>メモ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.text_field :shelter_name %></td>
        <td><%= f.text_field :address, size: "40x1" %></td>
        <td><%= f.text_field :shelter_memo, size: "50x1" %></td>
        <td><%= f.submit "送信" %></td>
      </tr>
      </tbody>
    <% end %>
  </table>
</div>

