<div class="card m-3 p-3">
 <div class="row">
    <!--ユーザープロフィール画像-->
    <div class="col-md-3">
      <%= link_to (attachment_image_tag user, :image, fallback: "avatar.jpg", class: "card-img-top img-fluid"), user_path(user.id) %>
    </div>
    <div class="col-md-3">
      <div class="card-body">
        名前: <%= user.name %></br>
        年齢: <%= user.age %></br>
        性別: <%= user.sex %></br>
        職業: <%= user.job %></br>
        投稿: <%= user.posts.count%></br>
      </div>
    </div>
    <!--ユーザー自己紹介文-->
    <div class="col-md-6">
      <%= user.profile%>
    </div>
    
  </div>
</div>