<div class="container">
  <% if user_signed_in? && @user.id == current_user.id %>
    <div class="row title">
      <h3 class="mx-auto">マイページ</h3>
    </div>
  <% else %>
    <div class="row title">
      <h3 class="mx-auto">ユーザー詳細</h3>
    </div>
  <% end %>
  <% if  user_signed_in? && @user.id == current_user.id %>
    <div class="row m-3">
      <div class="mx-auto mr-2">
        <%= link_to "ブックマーク", user_bookmarks_path(current_user.id), class: "btn btn-outline-secondary" %>
      </div>
      <div class="mx-auto mr-2">
        <%= link_to "マイリスト", items_path, class: "btn btn-outline-secondary" %>
      </div>
      <div class="mx-auto mr-2">
        <%= link_to "プロフィール", edit_user_path(current_user.id), class: "btn btn-outline-secondary" %>
      </div>
    </div>
  <% end %>
  <%= render 'users/user_card', user: @user %>
  <div class="row title">
    <h3 class="mx-auto"><%= @user.name%>の投稿一覧</h3>
  </div>
   <!--投稿カード-->
  <%= render 'posts/index', posts: @posts %>
</div>