<div class="container">
  <div class="row title">
    <h3 class="mx-auto">物品リスト編集</h3>
  </div>
  <%= form_with model: @item, local: true do |f| %>
  <table class="table p-3">
    <thead>
      <tr>
        <th scope="col" class="col-4 text-center">#</th>
        <th scope="col" class="col-8">入力欄</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="text-center">品名</th>
        <td><%= f.text_field :item_name, class: "form-control" %></td>
      </tr>
      <tr>
        <th scope="row" class="text-center">個数</th>
        <td><%= f.number_field :number, min: 1, max: 100, class: "form-select" %></td>
      </tr>
      <tr>
        <th scope="row" class="text-center">交換日</th>
        <td><%= f.date_field :replacement, class: "form-control" %></td>
      </tr>
      <tr>
        <th scope="row" class="text-center">メモ</th>
        <td><%= f.text_area :item_memo, class: "form-control" %></td>
      </tr>
    </tbody>
    <tr>
      <td colspan="2">
        <div class="text-center">
          <%= f.submit " 送 信 ", class: "btn btn-outline-secondary" %>
        </div>
      </td>
    </tr>
  </table>
  <% end %>
</div>