<div class="container">
  <%= render "items/new", item: @item %>
  <%= render "shelters/new", shelter: @shelter %>
  <div class="row title">
    <h3 class="mx-auto">物品リスト</h3>
  </div>
  <!--物品リストcsvダウンロードボタン-->
  <div class="row">
    <div class="p-3">
      <%= link_to "物品リストをダウンロード", items_path(format: :csv), class: "btn btn-outline-success"%>
    </div>
  </div>

<!--物品リスト一覧-->
  <table class="table p-3">
   <thead>
     <tr>
       <th scope="col" class="col-5"></th>
       <th scope="col" class="col-3"></th>
       <th scope="col" class="col-4"></th>
     </tr>
    </thead>
    <% @items.each do |item| %>
    <tbody>
      <tr>
        <td scope="row" class="text-break"><strong>品名</strong><br><%= item.item_name%></td>
        <td><strong>個数</strong><br><%= item.number %></td>
        <td><strong>交換時期</strong><br><%= item.replacement %></td>
      </tr>
      <tr>
        <td colspan="3" class="text-break">
          <strong>メモ</strong><br><%=safe_join(item.item_memo.split("\n"),tag(:br)) %>
          <div class="text-right">
            <%= link_to edit_item_path(item) do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to item_path(item), method: :delete do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        </td>

      </tr>
    </tbody>
    <% end %>
  </table>

  <!--避難所リスト一覧-->
  <div class="row title">
    <h3 class="mx-auto">避難所リスト</h3>
  </div>
  <!--避難所リストダウンロードボタン-->
  <div class="row ">
    <div class="p-3">
      <%= render "shelters/index" %>
    </div>
  </div>

  <table class="table p-3">
   <thead>
     <tr>
       <th scope="col" class="col-6"></th>
       <th scope="col"class="col-8"></th>
     </tr>
    </thead>
    <% @shelters.each do |shelter| %>
    <tbody>
      <tr>
        <td scope="row"  class="text-break"><strong>名称</strong><br><%= shelter.shelter_name %></td>
        <td class="text-break"><strong>住所</strong><br><%= shelter.address %></td>
      </tr>
      <tr>
        <td colspan="2" class="text-break">
          <strong>メモ</strong><br><%=safe_join(shelter.shelter_memo.split("\n"),tag(:br)) %>
          <div class="text-right">
            <%= link_to edit_shelter_path(shelter) do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to shelter_path(shelter), method: :delete do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>