<div class="container">
  <%= render "items/new", item: @item %>
  <%= render "shelters/new", shelter: @shelter %>
  <!--csv出力ボタン-->
  <div class="row">
    <div class="d-flex">
      <h1 class="mt-5">物品リスト</h1>
      <div class="mt-5">
        <%= link_to "物品リストをダウンロード", items_path(format: :csv), class: "btn btn-primary"%>
      </div>
    </div>
  </div>
  <!--物品リスト一覧-->
  <div class="row">
   <table class="table">
     <thead>
       <tr>
         <th>品名</th>
         <th>個数</th>
         <th>交換時期</th>
         <th>メモ</th>
         <th></th>
       </tr>
      </thead>
      <% @items.each do |item| %>
      <tbody>
        <tr>
          <td><%= item.item_name %></td>
          <td><%= item.number %></td>
          <td><%= item.replacement %></td>
          <td><%= item.item_memo %></td>
          <td>
            <div class="text-right">
              <%= link_to "編集", edit_item_path(item), class: "btn btn-sm btn-outline-success" %>
              <%= link_to "削除", item_path(item), method: :delete, class: "btn btn-sm btn-outline-danger" %>
            </div>
          </td>
        </tr>
      </tbody>
      <% end %>
   </table>
  </div>
  <!--避難所リスト一覧-->
  <div class="row">
    <div class="d-flex">
      <h1>避難所リスト</h1>
      <div>
        <%= render "shelters/index" %>
      </div>
    </div>
  </div>
  <div class="row">
   <table class="table">
     <thead>
       <tr>
         <th>名称</th>
         <th>住所</th>
         <th>メモ</th>
         <th></th>
       </tr>
      </thead>
      <% @shelters.each do |shelter| %>
      <tbody>
        <tr>
          <td><%= shelter.shelter_name %></td>
          <td><%= shelter.address %></td>
          <td><%= shelter.shelter_memo %></td>
          <td>
            <div class="text-right">
              <%= link_to "編集", edit_shelter_path(shelter), class: "btn btn-sm btn-outline-success" %>
              <%= link_to "削除", shelter_path(shelter), method: :delete, class: "btn btn-sm btn-outline-danger" %>
            </div>
          </td>
        </tr>
      </tbody>
      <% end %>
   </table>
  </div>
</div>