<!DOCTYPE html>
<html>
  <head>
    <title>Sonae</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-secondary mb-3 p-2">
        <div class="container-fluid d-flex">
          <!--ロゴ画像-->
          <div>
            <%= link_to about_path, class: "navbar-brand" do %>
              <%= image_tag asset_path("logo.jpg"), size: "100x60" %>
            <% end %>
          </div>
          
          <!--ナビゲーションボタン　画面縮小時はハンバーガーメニュー-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item mr-2"><%= link_to (attachment_image_tag current_user, :image, size: '50x50', fallback: "avatar.jpg", class: "rounded-circle border  border-secondary"), user_path(current_user.id) %></li>
                <li class="nav-item mr-3 d-flex align-items-center"><%= link_to "投稿する", new_post_path, class: "text-white" %></li>
                <li class="nav-item mr-3 d-flex align-items-center"><%= link_to "ユーザー", users_path, class: "text-white" %></li>
                <li class="nav-item mr-3 d-flex align-items-center"><%= link_to "投稿一覧", posts_path, class: "text-white" %></li>
                <li class="nav-item mr-3 d-flex align-items-center"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %></li>
                <li>
                  <!--検索窓-->
                  <div>
                    <%= render "layouts/search" %>
                  </div>
                </li>
              <% else %>
                <li class="nav-item mr-3 d-flex align-items-center"><%= link_to "ユーザー", users_path, class: "text-white" %></li>
                <li class="nav-item mr-3 d-flex align-items-center"><%= link_to "投稿一覧", posts_path, class: "text-white" %></li>
                <li class="nav-item mr-3 d-flex align-items-center"><%= link_to "新規登録", new_user_registration_path, class: "text-white" %></li>
                <li class="nav-item mr-3 d-flex align-items-center"><%= link_to "ログイン", new_user_session_path, class: "text-white" %></li>
                <li class="nav-item mr-3 d-flex align-items-center"><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "text-white" %></li>
                <li>
                  <!--検索窓-->
                  <div>
                    <%= render "layouts/search" %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="alert"><%= flash[:alert] %></p>
      <% end %>
      <%= yield %>
    </main>
    <footer class="fotter bg-secondary mt-5">
      <div class="container">
        <p class="text-center text-white p-3 m-0">SONAE</p>
      </div>
    </footer>
  </body>
</html>
